@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Lexend+Exa");

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(5deg);
    }

    40% {
        transform: rotate(-5deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes pop-in {
    0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    65% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes pop-away {
    0% {
        transform: scale(1, 1) translate(0, 0);
    }

    40% {
        transform: scale(1.1, 1.1);
    }

    65% {
        opacity: 1;
    }

    99% {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }

    100% {
        transform: translate(-10000em, -10000em);
    }
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Lexend Exa', sans-serif;
}

.center-child {
    background-color: #1c1b1a;
    background-image: linear-gradient(90deg, transparent 20%, #333 140%);
    background-size: 5px 5px;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

body::after {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.01) 2%, rgba(0, 0, 0, 0.99) 99%, rgba(0, 0, 0, 1) 100%);
    color: #ccc;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
    pointer-events: none;
}

.memory-app {
    position: relative;
}

.center-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.homescreen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.homescreen--visible {
    animation-name: pop-in;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

.homescreen--hidden {
    animation-name: pop-away;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

.homescreen--box {
    width: 90%;
    background: #c21500; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc500, #c21500); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
    text-align: center;
    border-radius: 30em;
    border: 6px solid wheat;
}

.homescreen__title {
    font-family: 'Monoton', cursive;
    font-size: 8vw;
    display: block;
    margin: 0;

    line-height: 8vw;
}

.homescreen-stats {
    text-transform: uppercase;
    font-size: 3vw;
    color: #fff;
    margin-bottom: 0.3em;
}

.homescreen-number {
    color: #fc0;
}

.homescreen--shuffle-button {
    font-size: 5vw;
    border-radius: 10em;
    border: 0;
    text-transform: uppercase;
    border: 2px solid white;
    background: #c21500; /* fallback for old browsers */
    background-color: transparent;
    background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    outline: 0;
    transition: all 0.25s;
    transition-timing-function: ease-out;
    padding-left: 7vw;
    padding-right: 7vw;
}

.homescreen--shuffle-button:hover {
    background: #c21500;
    letter-spacing: 0.1em;
    border-color: wheat;
}

.cards {
    display: flex;
    flex-directon: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    width: 150px;
    height: 225px;
    text-align: center;
    transition: all 0.2s;
    perspective: 800;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card--removed {
    animation-name: shake;
    animation-duration: 0.3s;
}

.card--selected .card-inner,
.card--removed .card-inner {
    transform: rotatey(-180deg);
}

.card--unselected .card--front {
    cursor: pointer;
    transition: box-shadow 0.25s;
}

.card--unselected .card--front:hover {
    box-shadow: 0px 0px 20px #fc0;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.card--face {
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    position: absolute;
    border-radius: 5%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--front {
    background: repeating-linear-gradient(45deg, #96fbc4, #606dbc 10px, #465298 10px, #465298 20px);
    overflow: hidden;
    z-index: 1;
}

.card--front::before {
    background: repeating-linear-gradient(310deg, black, black 10px, white 10px, white 20px);
    width: 100%;
    height: 100%;
    opacity: 0.1;
    content: '';
}

.card--back {
    z-index: 2;
    transform: rotatey(-180deg);
}

.card--back::before {
    content: "";
    font-size: 10vw;
    display: block;
}

.card--back::after {
    content: "";
    font-size: 3vw;
    color: #fff;
    display: block;
}

.card--pi .card--back {
    background-color: #F6BD60;
}

.card--pi .card--back::before {
    content: "π";
}

.card--watch .card--back {
    background-color: #EF3054;
}

.card--watch .card--back::before {
    content: "⌚";
}

.card--skull .card--back {
    background-color: #B2B09B;
}

.card--skull .card--back::before {
    content: "☠";
}

.card--mnote .card--back {
    background-color: #43AA8B;
}

.card--mnote .card--back::before {
    content: "♬";
}

.card--umbrella .card--back {
    background-color: #254441;
}

.card--umbrella .card--back::before {
    content: "☂";
}

.card--thunder .card--back {
    background-color: #FF6F59;
}

.card--thunder .card--back::before {
    content: "ϟ";
}

.card--hashtag .card--back {
    background-color: #05A8AA;
}

.card--hashtag .card--back::before {
    content: "♯";
}
